<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-IH59629\MSSQLSERVER1;Integrated Security=true;initial catalog=KitapDb" name="kdb"/>
  </connectionStrings>
</configuration>